[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
yfinance = "*"
pyyaml = "*"
numpy = "*"
tabulate = "*"
requests = "*"
jinja2 = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.8"
